*{
    margin: 0;
    padding: 0;
}

body{
    background: burlywood;
}

.container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.createcompany{
    position: absolute;
    right: 0;
    width: 120px;
    float: right;
    margin: 30px;
    padding: 10px;
    border-radius: 0px 0px 40px 40px ;
box-shadow: 1px 8px 18px 3px black;
transition: 0.7s;

&:focus{
    box-shadow: 2px 4px 10px black;
}

}

.companiesselect{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,0%);
    width: 90%;
    height: 100vh;
    background: beige;
}


#companyregistration{
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
    width: 400px;
    height: 600px;
    background: rgb(158, 80, 80);
    border-radius: 15px;
padding-top:12px ;
display: flex;
flex-direction: column;
align-items: center;


    input{
        width: 90%;
        height: 60px;
        margin-bottom: 50px;
        font-size: 25px;
    }
    label{
        font-size: 18px;
    }

    button{
        position: absolute;
        height: 50px;
        width: 80px;
        left:63% ;
        bottom: 10%;
        transform: translate(-50%);
        border-radius: 10px;
        font-size: 20px;
        background-color: rgb(189, 241, 111);
    }

    .Cancel{
        position: absolute;
        left: 33%;
        background: rgb(254, 146, 146);
    }
}

/* 
.div{
    width: 400px;
    height: 600px;
    background: brown;
    position: absolute;
    flex-direction: column;
    z-index: 2;
    display: flex;


} */
